* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.aNavList {
    text-decoration: none;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

aside>nav>ul>li>a {
    padding: 10px;
}

aside>nav>ul>li>a:hover {
    background: orange;
    padding: 4px;
    transition: .3s linear;
}

.navList {
    padding: 0.6rem;
    text-align: center;
    list-style: none;
}

nav ul {
    padding: 2rem;
}

ul li {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    height: 100vh;
    background-color: orange;
}

.whiteSection {
    background-color: #fff;
}

.orangeSection {
    background-color: orange;
}

section {
    padding: 1.5rem;
}

p {
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1.pottafont {
    text-align: center;
    padding-bottom: 0.5rem;
    font-family: 'Potta One', sans-serif;
}

.menuText {
    text-align: center;
    padding-bottom: 0.8rem;
    font-family: 'Potta One', sans-serif;
    color: white;
}


/*///////////////BURGER MENU - START//////////////*/

.burgerMenu {
    position: fixed;
    top: 40px;
    right: 40px;
    font-size: 40px;
    line-height: 50px;
    transition: .3s linear;
}

.burgerMenu:hover {
    cursor: pointer;
}

aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgb(37, 44, 136);
    transition: .3s linear;
    z-index: 2;
}

.fas {
    display: none;
    color: #000;
}

i.show {
    display: block;
}

aside.show {
    left: 0;
}


/*///////////////BURGER MENU - END//////////////*/


/* BOUNCING ARROW */

.contentDiv {
    background-color: orange;
    height: 200px;
    width: 200px;
}

@keyframes bouncing {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 20px;
    }
    100% {
        bottom: 0;
    }
}

.arrow {
    position: absolute;
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 70px;
    left: calc(50% - 35px);
    width: 70px;
}


/* CENTERED TEXT ON MAIN PAGE */

p.centeredText {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    font-family: 'Potta One', sans-serif;
    font-size: 4.5rem;
}


/* SMALLER CENTERED TEXT ON MAIN PAGE ON SMARTPHONES 
AND SMALLER DEVICES ALSO */

@media (max-width: 1024px) {
    p.centeredText {
        font-size: 3rem;
    }
}