@import 'variables';
footer {
    text-align: center;
}

.footerSection a {
    color: $whiteColor01;
}

.footerSection {
    background: none;
    background-color: $blueColor01;
    color: $whiteColor01;
}

.footerCopyright {
    padding: 16px;
}

.footerCopyright>div {
    font-size: 12px;
}