@import 'variables';
header.header .headerImage {
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(to bottom, $whiteColor01, $blueColor01), url('https://github.com/goldipl/WebPage-Template/blob/main/img/IMG01.jpg?raw=true');
}