@import 'reset';
@import 'variables';
@import 'nav';
@import 'header';
@import 'swiper';
@import 'buttons';
@import 'sections';
@import 'footer';
body {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 300;
    background-color: $whiteColor01;
    color: $blackColor01;
    font-size: 18px;
}

h1 {
    position: relative;
}

h1::after {
    display: block;
    content: '';
    width: 40px;
    height: 4px;
    background: $blueColor01;
    position: absolute;
    bottom: 0;
    left: 0;
}

.wrapper {
    width: 70vw;
    margin: 40px auto;
}

@media (max-width: 600px) {
    .wrapper {
        width: 90vw;
    }
}